<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slgp.gestionprojet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/PlopTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectionProjet"
            android:label="@string/title_activity_selection_projet"
            android:theme="@style/PlopTheme">
        </activity>
        <activity
            android:name=".Accueil"
            android:label="@string/title_activity_accueil"
            android:theme="@style/PlopTheme"></activity>
    </application>

</manifest>
